pipeline/PL_DATA_DS_ABLB_online_To_ADLS_online.json
{
	"name": "PL_DATA_DS_ABLB_online_To_ADLS_online",
	"properties": {
		"activities": [
			{
				"name": "ACT_MT_Copy_OnlineData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_LastWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_GEN_SETVAR_CurrentWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('ACT_GEN_LKP_LastWatermark').output.firstRow.watermark_value",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('CurrentWatermark')",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_online",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_online",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_GEN_LKP_LastWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [watermark_value]\nFROM [stg].[Watermark]\nWHERE [table_name] = 'azurementoringstorageot.online'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_movies",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_GEN_SETVAR_CurrentWatermark",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentWatermark",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_SPRC_UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_MT_Copy_OnlineData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateWatermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@variables('CurrentWatermark')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "azurementoringstorageot.online",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_azure_mentoring_ot_database",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"CurrentWatermark": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Previous modules"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-25T09:19:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}